

  <div class="bg-slate-100 p-6 rounded-lg">
    <img
      class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6"
      [src]="article.urlToImage"
      alt="Image Size 720x400"
    />
    <div class="flex justify-between">
      <h3
        class="tracking-widest text-indigo-500 text-xs font-medium title-font"
      >
        Author: {{ article.author }}
      </h3>
      <h4
        style="text-overflow: ellipsis; display: -webkit-box"
        class="tracking-widest text-gray-800 text-sm"
      >
        {{ article.publishedAt | date:'medium'}}
      </h4>
    </div>
    <h2
      class="text-lg text-gray-900 font-medium title-font mb-4 overflow-hidden"
    >
      {{ article.title }}
    </h2>
    <p
      class="leading-relaxed text-base"
      [innerHtml]="article.description"
    ></p>
    <span
    ><a
      class="text-blue-500"
      href="{{ article.url }}"
      target="_blank"
    >read more....</a
    ></span
    >
  </div>
