
  <!-- Header -->

<mat-toolbar class="bg-cyan-50">
    <button mat-icon-button>
      <mat-icon (click)="this.sideNav.open()" class="mat-18 text-emerald-900">menu</mat-icon>
      <mat-icon (click)="this.sideNav.close()" class="mat-18 text-red-500">close</mat-icon>
    </button>

    <span class="text-emerald-900">Open News</span>
  </mat-toolbar>


  <!-- Side Nav -->
  <mat-sidenav-container>
    <mat-sidenav #sideNav="matSidenav">
      <img src="" alt="avatar" class="avatar mat-elavation-z8">

      <h4> The News that matters.</h4>
    </mat-sidenav>
  </mat-sidenav-container>
